awesome/config/api.lua
awesome/lain
awesome/bling
zsh/.zcompdump
vifm/vifminfo
vifm/vifminfo.json*
ncmpcpp/error.log
mpd/playlists
dwm/dwm
dwm/dwm.o
dwm/drw.o
dwm/util.o
dwm/*.rej
dwm/*.orig
dmenu/dmenu
dmenu/*.rej
dmenu/*.orig
dmenu/util.o
dmenu/stest
dmenu/stest.o
dmenu/dmenu.o
dmenu/drw.o
